.forecast-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.ant-divider-inner-text {
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
}
