@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@100;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: lightgray;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(
        137deg,
        rgba(51, 69, 55, 1) 0%,
        rgba(22, 20, 19, 1) 100%
    );
}
