@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@100;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: lightgray;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: rgb(238, 198, 190);
    background: linear-gradient(
        191deg,
        rgba(238, 198, 190, 1) 0%,
        rgba(255, 255, 255, 1) 34%,
        rgba(255, 255, 255, 1) 65%,
        rgba(209, 191, 163, 1) 100%
    );
}
