#root {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    min-height: 600px;
    min-width: 450px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 10px -20px black;
}

@media screen and (max-width: 576px) {
    #root {
        min-height: 450px;
        min-width: 400px;
    }
}

@media screen and (max-width: 411px) {
    #root {
        min-height: 400px;
        min-width: 280px;
        padding: 1rem;
    }
}
