@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@100;400;700&display=swap');

:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(
        354deg,
        rgba(236, 229, 216, 1) 0%,
        rgba(203, 210, 222, 1) 100%
    );
}
